@{
}
@model Book

<div class="card card-outline-primary m-2 p-1">

    @* List out the information for each book *@
    <div class="bg-light p-1">
        <h4 class="bookTitle">@Model.Title</h4>

        <span class="badge btn-info" style="float:right">
            Price: $@Model.Price
        </span>
    </div>

    <ul>
        <li class="list-unstyled"><b>Author:</b> @Model.Author</li>
        <li class="list-unstyled"><b>Publisher:</b> @Model.Publisher</li>
        <li class="list-unstyled"><b>ISBN:</b> @Model.Isbn</li>
        <li class="list-unstyled"><b>Classification:</b> @Model.Classification</li>
        <li class="list-unstyled"><b>Category:</b> @Model.Category</li>
        <li class="list-unstyled"><b>Number of Pages:</b> @Model.PageCount</li>
    </ul>
    <form method="post" asp-page="/Purchase">

        @* Two hidden fields ID so that the specific book info can be added to the cart and the returnURL so once a user returns to the main site they will return to the specific page they are on. *@
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text">
            <button type="submit" class="m-3 btn btn-success btn-sm float-end">Purchase</button>
        </span>

    </form>
</div>