@page
@model Bookstore.Pages.PurchaseModel
@{
}

<h2>Your Cart</h2>

@* Create a table with the cart information *@
<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @* For all the books in the cart print of the Book title, quantity, price, and subtotal *@
        @foreach (var i in Model.cart.Items)
        {
        <tr>
            <td>@i.Book.Title</td>
            <td>@i.Quantity</td>
            <td>$@i.Book.Price</td>
            <td>$@(i.Quantity * i.Book.Price)</td>
            <td class="text-center">
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" name="bookId" value="@i.Book.BookId" />
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                </form>
            </td>
        </tr>
        }
    </tbody>

    @* Call the function created in Cart.cs that calculates total for the books in the cart *@
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

@* Continue shopping button - using a ReturnUrl Passed during GET() *@
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Purchase">Checkout</a>
</div>
